// colors
$gray-light: #cacaca;
$gray-lighter: #eee;
$white: #fefefe;

// font related
$default-size: 12px;
$heading-size: 24px;
$default-weight: 300;
$helvetica-font-family: Helvetica, sans-serif, Arial, Verdana;

// shadows
$standard-shadow: 0 5px 5px rgba(0,0,0,0.25);

// various sizes such as margin, padding, border-radius etc.
$heading-margin: 24px;
$standard-padding: 10px;
$small-padding: 5px;
$window-border-radius: 3px;

// z-index
$popup-z-index: 5;